<section class="contact__form flex container">
    <div class="contact__descr">
      <h1>{{ header }}</h1>
      <p>{{ description }}</p>
    </div>
    <div class="contact__inputs">
      {% if messages %}
        {% for msg in messages %}
          <div class="form__alert">{{ msg }}</div>
        {% endfor %}  
      {% endif %}
      <form id="form" action="" method="POST">
        {% csrf_token %}
        {{ form }}
        <div class="submit__button">
          <input class="g-recaptcha" data-sitekey="{{ recaptcha_public_key }}" data-callback="onSubmit" type="submit" id="submit__button" value="Wyślij">
        </div>
      </form>
    </div>
  </section>