{% extends 'base.html' %}
{% load static %} 

{% block title %}Filtracja oleju przepracowanego - FHU Olbromski{% endblock title %} 

{% block body %} 
{% include 'hero.html' with header="Filtracja oleju" %}
<section id="filtracja-oleju" class="article flex container">
  <div class="article__section">
    <div class="article__info">
      <h2 class="article__subheading">
        Filtracja oleju przepracowanego – na czym polega?
      </h2>
      <p>
        Podczas pracy układu hydraulicznego dochodzi do zabrudzenia oleju. Do płynów smarujących mogą dostawać zanieczyszczenia związane z pracą maszyny. Najczęściej są to drobinki metali, kurz czy wilgoć. Jeśli zawartość niepotrzebnych elementów jest zbyt duża, olej uznaje się za przepracowany i z reguły wymienia na nowy.
      </p>
      <p>
        Alternatywnym rozwiązaniem dla wymiany płynów z układu hydraulicznego, przekładniowego czy turbinowego jest filtracja oleju przepracowanego. Taki proces polega na usunięciu zanieczyszczenia za pomocą dokładniejszych filtrów niż te, które standardowo pracują w maszynie. Dzięki temu nie będzie konieczności wymiany oleju w maszynie, a praca części ruchomych nadal będzie przebiegała w sposób bezpieczny.
      </p>
    </div>
  </div>
  <div class="article__section">
    <div class="article__info">
      <h2 class="article__subheading">
        Filtracja oleju przepracowanego czy jego wymiana – co jest korzystniejsze?
      </h2>
      <p>
        Wielu przedsiębiorców okresowo wymienia olej w swoich maszynach, korzystając z harmonogramów lub rozpisek od producentów. Wielu z nich nawet nie zdaje sobie sprawy, że możliwa jest filtracja oleju przepracowanego. Niestety, brak wiedzy w tej dziedzinie prowadzi między innymi do podniesienia kosztów eksploatacji maszyny.
      </p>
      <p>
        Wiele pojazdów i maszyn budowlanych wyposażona jest w układy smarowania. Każdy z nich ma pojemność od kilkunastu do nawet kilkuset litrów. Wymiana może okazać się najszybszym i najłatwiejszym sposobem na usunięcie zanieczyszczeń z oleju. Jednak pomimo spuszczenia całego oleju ze zbiornika olej jaki został w układzie jest zanieczyszczony kurzem, drobinkami ścieru metalicznego po uruchomieniu jego zmiesza się z czystym olejem. Dopiero filtracja oleju przepracowanego w całym układzie z wykorzystaniem dobrej jakości filtrów skutecznie je usunie.
      </p>
      <p>
        Warto poruszyć jeszcze inne kwestie jak koszt oleju i ekologia. Częsta wymiana oleju to ogromne koszty. Wystarczy policzyć objętość układu smarowania i pomnożyć ją przez cenę litra oleju. W ten sposób można też policzyć, jakie kwoty da się zaoszczędzić, prowadząc jednorazową filtrację oleju przepracowanego.
      </p>
      <p>
        Z punktu widzenia ekologii składowanie i neutralizacja olejów przepracowanych także jest problematyczna. Oleje stanowią zagrożenie dla środowiska naturalnego. Ponadto wytwarzanie nowych płynów smarujących, do których wykorzystywana jest głównie ropa, zużywa zasoby naturalne. Dlatego filtracja oleju przepracowanego powinna być traktowana jako sposób proekologiczny.
      </p>
    </div>
  </div>
  <div class="article__section">
    <div class="article__info">
      <h2 class="article__subheading">
        Jak prowadzona jest filtracja oleju przepracowanego?
      </h2>
      <p>
        W firmie FHU Olbromski od wielu lat zajmujemy się filtracją oleju przepracowanego. W czasie swoich prac korzystamy ze specjalistycznego sprzętu marki KLEENOIL, czyli opatentowanych przenośnych filtrów typu by pass. Ten sprzęt można podłączyć do układu smarowania i czyścić olej bez potrzeby wypuszczania go z maszyny. System pobiera tylko niewielką ilość oleju, przepuszcza go przez szczelny filtr i następnie wypuszcza z powrotem do układu. Urządzenie może pracować zarówno przy włączonej maszynie, jak i w trybie offline, gdyż posiada własny silnik i pompę membranową typu mono.
      </p>
      <p>
        Sercem systemu jest filtr wykonany z pulpy celulozowej. Ten naturalny materiał niezwykle skutecznie pochłania z oleju cząsteczki wody, a także zanieczyszczania stałe. Może usuwać skutecznie z płynu  cząsteczki o wielkości 1 mikrona. Wszystkie zanieczyszczenia zatrzymywane są wewnątrz filtra i usuwane po jego wyjęciu. Dzięki temu jedynym produktem ubocznym filtracji oleju przepracowanego jest zanieczyszczony filtr, którego neutralizacja jest stosunkowo łatwa.
      </p>
    </div>
  </div>
  <div class="article__section">
    <div class="article__info">
      <h2 class="article__subheading">
        Filtracja oleju przepracowanego z FHU Olbromski
      </h2>
      <p>
        Przedsiębiorstwo FHU Olbromski od wielu lat aktywnie działa w branży olejowej. Jednym z obszarów działalności firmy jest właśnie filtracja oleju przepracowanego. Z naszymi maszynami KLEENOIL docieramy do różnych firm działających na obszarze całego kraju. Współpracujemy z dużymi przedsiębiorstwami produkcyjnymi, a także mniejszymi firmami. Możemy na miejscu wykonać wszystkie prace związane z podłączeniem filtrów i oczyszczeniem oleju. Świadczymy także usługi wynajmu maszyn, które mogą pracować przez wybrany czas w zakładzie klienta. W ten sposób nie tylko można przeprowadzić filtrację oleju przepracowanego, ale także zaoszczędzić znaczące środki dla firmy.
      </p>
    </div>
  </div>
</section>
{% endblock body %}
