{% extends 'base.html' %}
{% load static %}

{% block title %}Filtracja oleju - FHU Olbromski{% endblock title %}

{% block body %}
{% include 'hero.html' with header="Filtracja oleju" %}
<section id="filtracja-oleju" class="article flex container">
  <div class="article__section">
    <div class="article__info">
      <h2 class="article__subheading">Na czym to polega?</h2>
        <p>Każda maszyna i pojazd wyposażone są w systemy smarowania. Takie układy mają za zadanie minimalizowanie skutków tarcia, do jakiego dochodzi w czasie pracy maszyny. Oleje do smarowania stosowane są między innymi w silnikach, układach hydraulicznych czy przekładniach. W każdym z tych miejsc są narażone na wysokie temperatury czy tarcie.</p>
        <p>Największym problemem układów smarowania jest możliwość dostania się zanieczyszczeń do olejów. Mogą one pochodzić z nieodpowiedniego użytkowania lub nieszczelności układów. Z reguły jednak powstają w czasie ścierania się elementów ruchomych i procesów chemicznych zachodzących w komorach smarowania.</p>
        <p>Standardowym zabiegiem mającym na celu usunięcie zanieczyszczeń jest wymiana oleju. Jednak przy dużych objętościowo układach może to być uciążliwe i kosztowne. Ponadto częsta wymiana oleju nie sprzyja ekologii, ponieważ tworzy się trudny do magazynowania i oczyszczenia odpad.</p>
        <p>Jednym z alternatywnych sposobów na oczyszczenie układu bez konieczności wymiany płynów jest filtracja oleju. Przeprowadzona za pomocą dobrze dopasowanych i uniwersalnych filtrów może zapobiec niszczeniu maszyny. Wpłynie też na dłuższe odstępy pomiędzy wymianą oleju w układzie.</p>
        <p>Firma FHU Olbromski jest przedsiębiorstwem, które od wielu lat zajmuje się tematyką olejów. Poza sprzedażą wysokiej jakości olejów oferujemy także usługi filtracji oleju, wynajmu i sprzedaży maszyn filtrujących . Korzystając z wysokiej jakości systemów KLEENOIL jesteśmy w stanie zapewnić odpowiednią mikro filtrację w każdym sprzęcie. Oferowane przez nas usługi i zastosowane produkty pozwolą przedłużyć żywotność środków smarowania.</p>
    </div>
    <div class="article__image">
      <img src="{% static '' %}" alt="">
    </div>
  </div>
  <div class="article__section">
    <div class="article__info">
      <h2 class="article__subheading">Filtrowanie oleju za pomocą systemów KLEENOIL</h2>
        <p>Systemy filtracji KLEENOIL to zaawansowane technologicznie rozwiązania pozwalające wydłużyć żywotność płynów w układach hydraulicznych i smarowania. Za pomocą sprawdzonej technologii z układu sprawnie usuwane są tylko zanieczyszczenia. Wszystkie dodatki uszlachetniające oleje nie są wchłaniane przez filtry, dlatego płyny pozostają ciągle skuteczne. Filtry KLEENOIL czyszczą skutecznie układy zawierające glikol z zanieczyszczeń dzięki czemu pozwalają wielokrotnie wydłużyć ich eksploatację dzięki czemu firmy są w stanie bardzo ograniczyć z tym związane wydatki. Ponadto nie ma odpadów których utylizacja jest coraz kosztowniejsza.</p>
        <p>Do filtrowania wykorzystywane są opatentowane systemy typu by-pass, które można podłączyć do układu smarowania. Samo filtrowanie oleju odbywa się nieco inaczej, niż w przypadku standardowych urządzeń. Do czyszczenia pobierana jest tylko niewielka ilość środka smarującego, którą przepuszcza się przez filtr. Dzięki temu płyn w układzie stale pracuje, a różnica w ciśnieniu oleju jest nieodczuwalna.</p>
        <p>Sercem całego systemu KLEENOIL jest filtr wykonywany z pulpy celulozowej. Tworzony jest w postaci długich włókien gęsto nawijanych na siebie. Ta technologia pozwala na znacznie skuteczniejszą filtrację oleju, niż oferują inne systemy składające się z pojedynczych filtrów. Taki filtr zapewnia usuwanie drobinek metali czy kurzu o wielkości nawet 1 mikrona. Dla porównania warto dodać, że standardowe filtry nie radzą sobie z wychwytywaniem stałych cząsteczek o rozmiarze wielokrotnie większym.</p>
        <p>Ponadto filtr skutecznie pochłania i zabezpiecza wilgoć, która dostaje się do układu smarowania. Cząsteczki wody wchłaniane są przez włókna celulozowe, a następnie zatrzymywane wewnątrz filtrów. Tak dokładne filtrowanie oleju ogranicza potrzebę częstej wymiany, co wpływa na niższe koszty eksploatacji.</p>
    </div>
    <div class="article__image">
      <img src="{% static '' %}" alt="">
    </div>
  </div>
  <div class="article__section">
    <div class="article__info">
      <h2 class="article__subheading">Filtrowanie oleju z FHU Olbromski</h2>
        <p>Nasza firma świadczy usługi filtrowania oleju w różnego typu maszynach i pojazdach. Dysponujemy wieloma urządzeniami, które są w stanie filtrować układy  małe jak i bardzo duże. Z kolei filtry dostarczane w kilku wymiarach znajdą zastosowanie przy systemach o dowolnej pojemności. Sam proces filtracji oleju trwa od kilku godzin, a zależy to głównie od poziomu zanieczyszczenia i jego objętości.</p>
        <p>Świadczymy usługi przez całą dobę siedem dni w tygodniu. Mamy świadomość, jak kosztowne są postoje maszyn lub linii produkcyjnych, które mogą nastąpić z powodu zanieczyszczenia płynów. W związku z tym reagujemy na każde zgłoszenia i prowadzimy filtrowanie oleju w punkcie wskazanym przez naszego klienta. W razie potrzeby jesteśmy w stanie dostarczyć najwyższej jakości oleje.</p>
    <div class="article__image">
      <img src="{% static '' %}" alt="">
    </div>
  </div>
</section>
{% endblock body %}