{% extends 'base.html' %}
{% load static %} 

{% block title %}Jak przefiltrować olej - FHU Olbromski{% endblock title %} 

{% block body %} 
{% include 'hero.html' with header="Filtracja oleju" %}
<section id="filtracja-oleju" class="article flex container">
  <div class="article__section">
    <div class="article__info">
      <h2 class="article__subheading">
        Jak przefiltrować olej bez konieczności jego wymiany?
      </h2>
      <p>
        Oleje w układach hydraulicznych i silnikach zapewniają odpowiednie smarowanie. Dzięki temu maszyna może pracować na wysokich obrotach, a ryzyko jej uszkodzenia okazuje się niewielkie. W dobrej jakości olejach znajdują się dodatki uszlachetniające, które jeszcze poprawiają właściwości robocze oleju. Warto jednak pamiętać, że tylko czysty olej o odpowiednich właściwościach roboczych będzie stanowił wystarczające zabezpieczenie.
      </p>
      <p>
        Dla utrzymania sprawności oleju zaleca się jego wymianę raz do roku lub po określonym przebiegu maszyny. Jednak alternatywą może być dodatkowe filtrowanie oleju i usuwanie z niego zanieczyszczeń. Jak przefiltrować olej? Jednym z najskuteczniejszych sposobów jest zastosowanie filtrów typu by-pass, opatentowanych przez firmę Kleenoil. Filtry zatrzymują zanieczyszczenia i wodę zgromadzoną w oleju, a jednocześnie pozwalają na swobodny przepływ wszelkich składników uszlachetniających. Dzięki temu nawet kilkukrotnie wydłuży się okres pomiędzy niezbędnymi wymianami oleju.
      </p>
    </div>
  </div>
  <div class="article__section">
    <div class="article__info">
      <h2 class="article__subheading">
        Jak przefiltrować olej? Tylko z firmą Olbromski
      </h2>
      <p>
        W Polsce filtry Kleenoil użytkowane są przez firmę Olbromski. Nasze przedsiębiorstwo od wielu lat działa w branży olejowej, współpracując z największymi zakładami przemysłowymi w kraju. Poza sprzedażą filtrów i płynów do smarowania świadczymy też usługi serwisowe. Jesteśmy elastyczni i działamy w trybie 24/7, a nasze ekipy mogą dotrzeć do dowolnego miejsca na mapie kraju.
      </p>
      <p>
        Nasi specjaliści doskonale wiedzą, jak przefiltrować olej i prowadzą filtrację z użyciem opatentowanych agregatów. Jesteśmy w stanie prowadzić również monitoring czystości olejów, który wykonuje się co kilka miesięcy. Dzięki temu będziesz miał pewność, że maszyny w Twoim przedsiębiorstwie są odpowiednio smarowane.
      </p>
    </div>
  </div>
  <div class="article__section">
    <div class="article__info">
      <h2 class="article__subheading">
        Czy filtracja oleju się opłaca?
      </h2>
      <p>
        Istnieje przynajmniej kilka korzyści, jakie płyną dla przedsiębiorstwa i użytkowników maszyn, w których oleje są dodatkowo filtrowane. Najłatwiejsze do oceny jest obniżenie kosztów związanych z eksploatacją maszyn. Przefiltrowując olej nie ma konieczności częstej jego wymiany, która wiąże się z zakupem kilkudziesięciu litrów oleju i następnie kosztami utylizacji starego. Ponadto zyskuje środowisko naturalne.
      </p>
      <p>
        Sam proces wymiany także jest uciążliwy dla funkcjonowania przedsiębiorstwa, ponieważ wymaga wyłączenia maszyny z użytkowania przynajmniej na kilka godzin.
      </p>
      <p>
        Z doświadczenia naszej firmy wynika też, że koszty poniesione w związku z zastosowaniem systemu Kleenoil i regularnego monitorowania jakości oleju są znacznie niższe, niż wymiana płynów raz do roku. Same usługi serwisowe nie wpływają znacząco na funkcjonowanie przedsiębiorstwa jak wymiana oleju czy awaria spowodowana jego niewłaściwą jakością. Dlatego informacja o tym, jak przefiltrować olej i kto może przeprowadzić ten proces mogą poprawić funkcjonowanie firmy.
      </p>
    </div>
  </div>
</section>
{% endblock body %}
