{% extends 'base.html' %}
{% load static %} 

{% block title %}Klasa czystości oleju - FHU Olbromski{% endblock title %} 

{% block body %} 
{% include 'hero.html' with header="Klasa czystości oleju" %}
<section id="filtracja-oleju" class="article flex container">
  <div class="article__section">
    <div class="article__info">
      <h2 class="article__subheading">
        Klasa czystości oleju – co to jest?
      </h2>
      <p>
        Podczas prac serwisowych można spotkać się z pojęciem klas czystości oleju. To normy, które pozwalają na ocenę ilości zanieczyszczeń w oleju i ułatwiają określenie, czy płyn nadal prawidłowo wypełnia swoje zadania. Stosując dobrej jakości filtry, można obniżyć zawartość zabrudzeń w oleju i poprawić klasę jego czystości.
      </p>
    </div>
  </div>
  <div class="article__section">
    <div class="article__info">
      <h2 class="article__subheading">
        Czystość oleju a jego zużycie
      </h2>
      <p>
        Oleje stosowane w układach hydraulicznych, przekładniowych czy silnikach pozwalają na ich prawidłową pracę. Ograniczają możliwość zacierania się elementów, obniżają temperaturę i tym samym wydłużają żywotność maszyny. Jednak dobre smarowanie w układach zapewnia tylko olej, który utrzymuje określone właściwości.
      </p>
      <p>
        Z biegiem czasu, pod wpływem pracy w układzie dochodzi do utleniania oleju i utraty jego parametrów. Może do tego dochodzić w różnym okresie po wlaniu nowego preparatu, a żywotność oleju zależy od kilku czynników. Liczne metaliczne zabrudzenia, woda czy przegrzewanie się silnika prowadzi do szybszego zużycia tego produktu. Dlatego określenie klasy czystości oleju pozwoli ocenić jego żywotność, a także wpływ preparatu na pracę maszyny.
      </p>
    </div>
  </div>
  <div class="article__section">
    <div class="article__info">
      <h2 class="article__subheading">
        Jak określana jest klasa czystości oleju?
      </h2>
      <p>
        Wiele osób, które pierwszy raz zetknęły się z tym pojęciem, może się zastanawiać, czym jest klasa czystości oleju. Próbując tłumaczyć w najprostszy sposób, jest to poziom zabrudzenia płynów smarujących. Za zabrudzenie uznaje się wszystkie elementy, które nie powinny się w nich znaleźć, czyli szlamów, nagarów, a także wody. Klasa czystości oleju podawana jest za pomocą kodu liczbowego, który różni się w zależności od wybranej normy.
      </p>
      <p>
        Pomiar czystości oleju dokonywany jest zawsze w ten sam sposób. Do kontroli pobierana jest próbka o ściśle określonej objętości. Najczęściej jest to kilkaset mililitrów płynu. Na pobranej próbce prowadzi się badania laboratoryjne, które są w stanie ocenić dokładną zawartość zabrudzeń. Dopasowując ich ilość do wartości umieszczonych w tabelach konkretnych norm, można zakwalifikować płyn do konkretnej klasy czystości oleju. Żeby pomiar był dokładniejszy i jeszcze bardziej wiarygodny, często pobiera się kilka próbek z tego samego układu i bada je oddzielnie.
      </p>
      <p>
        Proces pomiaru zawartości płynów smarujących i określenie klasy czystości oleju jest stosunkowo skomplikowany, a także kosztowny. Dlatego nie we wszystkich maszynach czy pojazdach dokonuje się takich pomiarów. Najczęściej badania dotyczą urządzeń hydraulicznych prowadzone są w dużych pojazdach i maszynach budowlanych. Często bada się układy w maszynach warsztatowych, czyli prasach lub wtryskarkach. Ponadto ocenie mogą podlegać oleje w silnikach spalinowych w dużych pojazdach, płyny w układach turbinowych czy przekładniach.
      </p>
    </div>
  </div>
  <div class="article__section">
    <div class="article__info">
      <h2 class="article__subheading">
        Klasa czystości oleju – normy
      </h2>
      <p>
        Aktualnie mamy do czynienia z kilkoma normami, które określają klasę czystości oleju. Każda z nich różni się nieco wartościami cząsteczek w oleju i może być stosowana przy okazji różnych urządzeń. Niektóre normy dotyczą tylko określonych cząsteczek, które wydają się najbardziej szkodliwe dla pracy danej maszyny. Chociaż można spotkać się z kilkoma różnorodnymi normami, najczęściej stosuje się klasy NAS 1638 oraz ISO 4406. Na ich podstawie czystość oleju określa wielu producentów maszyn i pracowników serwisów zajmujących się olejami.
      </p>
    </div>
  </div>
  <div class="article__section">
    <div class="article__info">
      <h2 class="article__subheading">
        Wydłuż żywotność oleju, stosując wysokiej jakości filtry
      </h2>
      <p>
        Klasa czystości oleju nie jest stała dla żadnego układu. Z biegiem czasu i po nagromadzeniu się dodatkowych zabrudzeń kasa ulega zmianie. Dlatego tylko regularna kontrola układu i przeprowadzanie pomiarów okresowo pozwoli na ocenę szybkości zużycia oleju.
      </p>
      <p>
        Co ciekawe, w szczególnych przypadkach klasa czystości oleju może ulec poprawie. Dzieje się tak po zastosowaniu bardzo dokładnych filtrów do mikro filtracji, które usuwają zanieczyszczania z oleju. Brak zanieczyszczeń oznacza lepszą klasę oleju i jej większą przydatność dla układu smarowania. Jednak żeby ocenić skuteczność filtrowania, konieczne jest przeprowadzenie badań przed i po zakończeniu procesu mikro filtracji.
      </p>
    </div>
  </div>
</section>
{% endblock body %}
