{% extends 'base.html' %}
{% load static %} 

{% block title %}Oczyszczanie oleju przepracowanego - FHU Olbromski{% endblock title %} 

{% block body %} 
{% include 'hero.html' with header="Filtracja oleju" %}
<section id="filtracja-oleju" class="article flex container">
  <div class="article__section">
    <div class="article__info">
      <h2 class="article__subheading">
        Dlaczego oczyszczanie oleju przepracowanego jest korzystne?
      </h2>
      <p>
        Producent maszyn przemysłowych zaleca wymianę oleju co określony czas. Spuszczenie zużytego płynu, wymiana zanieczyszczonych filtrów i wprowadzenie do maszyny świeżego oleju daje pewność, że będzie miał on odpowiednie właściwości smarne. Jednak koszt częstej wymiany i problemy związane z utylizacją zużytych środków sprawiają, że coraz większą popularnością cieszy się oczyszczanie oleju przepracowanego.
      </p>
      <p>
        Olej uznawany za zużyty to taki, w którego składzie znajdują się liczne zabrudzenia. Może to być nagar olejowy, drobinki metalu pochodzące ze ścierania obudowy czy woda. Są to składniki, które nie zatrzymują się na powierzchni filtrów podczas standardowej eksploatacji maszyny. Oczyszczanie oleju przepracowanego za pomocą solidnych filtrów pozwala na zebranie niepożądanych składników oleju. Jednocześnie na filtrze nie zatrzymują się cząsteczki odpowiedzialne za właściwości oleju.
      </p>
    </div>
  </div>
  <div class="article__section">
    <div class="article__info">
      <h2 class="article__subheading">
        Oczyszczanie oleju przepracowanego – jak przebiega?
      </h2>
      <p>
        W firmie Olbromski zajmujemy się sprzedażą filtrów i olejów, ale świadczymy też usługi związane z oczyszczaniem oleju przepracowanego. Do pracy wykorzystujemy profesjonalne urządzenia działające na opatentowanej technologii firmy Kleenoil. Są to filtry boczne działające poza strukturą maszyny i filtrujące olej w czasie jej pracy. Część płynu przepływa przez by-pass i jest tam filtrowana, jednak ciśnienie robocze w systemie nie spada. Dzięki temu filtry nie zakłócają działania układu i pozwalają na dokładne filtrowanie.
      </p>
      <p>
        Sercem urządzenia jest skuteczny filtr wykorzystujący papkę drzewną uformowaną w postać nici. Te nawijane są na rolkę filtra, a w ich strukturze zatrzymują się zanieczyszczenia z przepływającego oleju. Ta technologia pozwala na zatrzymanie niemal 100 procent zanieczyszczeń o rozmiarach powyżej 1μm, a także większości wody.
      </p>
      <p>
        Proces filtrowania prowadzony jest tak długo, aż z oleju zostaną usunięte wszystkie zabrudzenia. Najczęściej proces przy dużych maszynach trwa kilka godzin, jednak nasi serwisanci będą prowadzili prace tak długo, jak będzie to konieczne. Dopiero kiedy system potwierdzi czystość oleju i usunięcie większości zabrudzeń, można uznać proces za zakończony.
      </p>
    </div>
  </div>
  <div class="article__section">
    <div class="article__info">
      <h2 class="article__subheading">
        Firma Olbromski – profesjonalne oczyszczanie oleju przepracowanego
      </h2>
      <p>
        Jeśli chcesz przeprowadzić w swoich maszynach proces oczyszczania oleju przepracowanego, skontaktuj się z firmą Olbromski. Dzięki naszej wiedzy i specjalistycznemu sprzętowi będziesz mógł ograniczyć koszty funkcjonowania maszyn i pojazdów. Wspomniana technologia sprawia, że olej w układach smarowania można wymieniać kilkakrotnie rzadziej, niż zaleca producent. Jeśli chcesz mieć pewność, że olej ma odpowiednie właściwości, możesz zlecić nam usługę monitorowania go co kilka miesięcy. Dzięki temu poznasz moment, w którym wymiana płynów będzie już konieczna.
      </p>
    </div>
  </div>
</section>
{% endblock body %}
