{% extends 'base.html' %}
{% load static %} 

{% block title %}Olej hydrauliczny jak mleko - FHU Olbromski{% endblock title %} 

{% block body %} 
{% include 'hero.html' with header="Filtracja oleju" %}
<section id="filtracja-oleju" class="article flex container">
  <div class="article__section">
    <div class="article__info">
      <h2 class="article__subheading">
        Olej hydrauliczny jak mleko – przyczyna
      </h2>
      <p>
        Oleje hydrauliczne stosowane są niemal we wszystkich maszynach przemysłowych i pojazdach. Mają za zadanie smarowanie elementów ruchomych, a także poddają się sprężaniu, co łatwo kumuluje siłę. W czasie eksploatacji lub serwisowania maszyn możesz jednak zauważyć niepokojące zjawisko zmętnienia tego płynu. Olej hydrauliczny jak mleko to najczęściej stosowane określenie na sytuację w układach.
      </p>
      <p>
        Co jest przyczyną takiej zmiany wyglądu płynu smarującego? Specjaliści wskazują na dwa powody, które zawsze związane są z niepożądanym składnikiem dostającym się do substancji. Czasem jest to powietrze, które miesza się z płynem, a jego cząsteczki mącą go. Znacznie częściej jest to jednak wilgoć, która dostaje się do płynu poprzez nieszczelność układu lub w wyniku osadzania na jej instalacjach. O ile z zapowietrzeniem można łatwo sobie poradzić, o tyle wilgoć w płynie hydraulicznym to już spory problem.
      </p>
    </div>
  </div>
  <div class="article__section">
    <div class="article__info">
      <h2 class="article__subheading">
        Olej hydrauliczny jak mleko – sposoby walki ze zjawiskiem
      </h2>
      <p>
        Jeśli niepokoi Cię wygląd płynów hydraulicznych w maszynie, skontaktuj się z biurem firmy Olbromski. Olej hydrauliczny jak mleko i walka z tym zjawiskiem nie stanowią problemu dla naszych specjalistów. Dysponujemy doświadczeniem i specjalistycznym sprzętem, który pozwoli na usuwanie wody z olejów. Dzięki temu nie będzie konieczności wymiany płynu w całym układzie i tym samym koszty eksploatacji zostaną mocno ograniczone.
      </p>
      <p>
        Nasza firma korzysta z technologii filtrów bocznych KLEENOIL, które czyszczą olej w czasie pracy maszyny. Skuteczne filtry, wykorzystujące masę drzewną w postaci nici nawiniętych na szpulę, pochłaniają większość wilgoci z oleju. Jednocześnie nie zatrzymują składników smarujących, dzięki czemu okres pomiędzy koniecznymi wymianami oleju znacznie się wydłuża. Dzięki naszej pracy olej hydrauliczny jak mleko stanie się już tylko ponurym wspomnieniem.
      </p>
    </div>
  </div>
</section>
{% endblock body %}
