{% extends 'base.html' %}
{% load static %} 

{% block title %}Opiłki w oleju - FHU Olbromski{% endblock title %} 

{% block body %} 
{% include 'hero.html' with header="Opiłki w oleju" %}
<section id="filtracja-oleju" class="article flex container">
  <div class="article__section">
    <div class="article__info">
      <h2 class="article__subheading">
        Opiłki w oleju – co warto wiedzieć?
      </h2>
      <p>
        Opiłki w oleju to nic innego jak niewielkie drobinki metalu, które przedostały się do oleju w wyniku tarcia występującego pomiędzy metalowymi powierzchniami. Jak łatwo się domyśleć jest to bardzo niekorzystne zjawisko, dlatego też konstruktorzy silników przykładają bardzo dużo uwagi, aby zaprojektować magistrale olejowe w których tarcie elementów metalowych jest ograniczone do minimum.
      </p>
    </div>
  </div>
  <div class="article__section">
    <div class="article__info">
      <h2 class="article__subheading">
        Gdzie pojawiają się opiłki metalu w oleju?
      </h2>
      <p>
        Opiłki w oleju bardzo często pojawiają się przy styku pierścieni tłokowych albo przy ściankach cylindra. Mowa tutaj nie tylko o pierścieniach uszczelniających, ale również o pierścieniach uszczelniająco-zgarniających i pierścieniach zgarniających. Aby ograniczyć opiłki metalu w oleju warto postawić na dobre smarowanie. Tylko ograniczając tarcie można wyeliminować powstawanie niewielkich drobinek metalu.
      </p>
      <h3>Wymiana oleju</h3>
      <p>
        Jak powszechnie wiadomo wraz z przebiegiem auta, własności smarne oleju stopniowo zmniejszają się, dlatego też nie jest on w stanie wykonać prawidłowo swojej pracy. Między innymi dlatego też należy pamiętać o systematycznej wymianie oleju. Warto zadbać także i o to, aby filtr olejowy także był w idealnym stanie. Przy wymianie oleju kierować trzeba się nie tylko przebiegiem auta, ale również czasem jego eksploatacji. Warto wspomnieć także i o tym, że każdy producent silnika zaleca stosowanie specjalnego oleju, który spełnia odpowiednie normy. Inwestycja w tani olej może w dłuższej perspektywie sporo kosztować.
      </p>
      <h3>Czy można ograniczyć opiłki w oleju?</h3>
      <p>
        Aby powstrzymać powstawanie drobinek startego metalu należy ograniczyć niewłaściwe warunki pracy. Niestety pomimo nowoczesnej technologii nie można całkowicie wyeliminować powstawanie opiłków w oleju. Na szczęście zjawisko to można znacznie ograniczyć. Wymogiem jest oczywiście stosowanie środków smarnych zaleconych przez producenta i wymienianie ich zgodnie z zaleceniami. Warto także dokonywać systematycznego przeglądu układu chłodzenia i smarowania.
      </p>
      <h3>O czym należy pamiętać?</h3>
      <p>
        Olej silnikowy bardzo często potrzebuje kilku sekund, aby dotrzeć do wszystkich zakamarków silnika, dlatego też nie warto ostro jeździć zaraz po rozruchu. Jeżeli w sezonie zimowym wprowadzi się silnik od razu na wysokie obroty, to niektóre elementy mogą pracować bez smarowania, dlatego też zwiększa się ryzyko pojawienia się opiłków metalu. Opiłki w oleju mogą pojawić się również wtedy, gdy korzysta się z nieoryginalnych materiałów. Opiłki mogą być dużym problemem kierowców, którzy korzystają z tanich zamienników. Mowa tutaj między innymi o nieoryginalnej panewce, pierścieniach, tłokach, czy prowadnicach zaworowych.
      </p>
    </div>
  </div>
</section>
{% endblock body %}
