{% extends 'base.html' %}
{% load static %} 

{% block title %}Srebrne opiłki w oleju - FHU Olbromski{% endblock title %} 

{% block body %} 
{% include 'hero.html' with header="Srebrne opiłki w oleju" %}
<section id="filtracja-oleju" class="article flex container">
  <div class="article__section">
    <div class="article__info">
      <h2 class="article__subheading">
        Skąd się biorą srebrne opiłki w oleju?
      </h2>
      <p>
        Silnik w samochodach i maszynach to miejsce, w którym dochodzi do intensywnych procesów mechanicznych. Szczególnie pracujące przez wiele godzin maszyny mogą być narażone na uszkodzenie silnika. Pomimo intensywnego smarowania może się okazać, że olej nie dociera do wszystkich elementów jednostki napędowej. Niektóre podzespoły i części znajdują się w takich miejscach, że ich smarowanie okazuje się niemożliwe. W wyniku tarcia w płynach smarujących mogą pojawiać się srebrne opiłki. W oleju i na filtrach będą osadzały się drobinki metalu.
      </p>
      <p>
        Konstruktorzy starają się uniknąć miejsc bez smarowania i można mieć pewność, że wszystkie najważniejsze elementy silnika są smarowane i chronione. Do tarcia dochodzi głównie w obrębie osłony lub obudowy, jednak drobinki metalu mogą trafić do silnika. Srebrne opiłki w oleju są ciałem obcym, dlatego należy dołożyć wszelkich starań, żeby się ich pozbyć. Utrzymujące się w dużej ilości wewnątrz komory silnika mogą prowadzić do pogorszenia jego pracy, ograniczenia właściwości smarnych oleju, a nawet do uszkodzenia całego mechanizmu.
      </p>
    </div>
  </div>
  <div class="article__section">
    <div class="article__info">
      <h2 class="article__subheading">
        Jak należy usuwać srebrne opiłki z oleju?
      </h2>
      <p>
        Najczęściej srebrne opiłki w oleju dostrzegane są dopiero podczas wymiany filtrów i płynów eksploatacyjnych. Osiadłe na filtrze drobinki to jednak niejedyne elementy, jakie znajdują się w komorze silnika. Wszelkie zanieczyszczenia mogą gromadzić się w załamaniach i miejscach niedostępnych. W efekcie nawet zlanie całego oleju, wypełnienie komory czystym środkiem smarującym i wymiana filtrów nie oczyści silnika.
      </p>
      <p>
        Sposób na srebrne opiłki w oleju mają specjaliści z firmy Olbromski. Dzięki zastosowaniu rozwiązań technologicznych znanych jako system KLEENOIL jesteśmy w stanie usunąć wszystkie metaliczne drobinki, a także inne zanieczyszczenia. Pozwoli to ograniczyć częstotliwość wymiany płynów i znacznie obniżyć koszty eksploatacji. Jednocześnie srebrne opiłki w oleju przestaną zagrażać silnikowi.
      </p>
      <p>
        Na czym polega innowacyjna technologia stosowana przez specjalistów z Olbromski? Przede wszystkim olej czyszczony jest bez konieczności jego wylewania podczas pracy silnika lub offline. Do układu podłączony zostaje bypass, który pobiera płyn smarujący. Pracujący agregat stale porusza olej, dlatego z silnika wypływają drobinki metalu także pozostające w załamaniach. Dodatkową zaletą tej technologii jest skuteczny filtr, który zatrzymuje niemal wszystkie zanieczyszczenia, pozostawiając składniki smarujące w oleju.
      </p>
      <p>
        Dzięki tej metodzie skuteczność usuwania wszelkich ciał stały o rozmiarach powyżej 1μm jest bliska 100 procent. Pozwoli to wielokrotnie ograniczyć konieczność wymiany oleju w układach silnikowych i hydraulicznych. Skontaktuj się z naszym biurem i umów się na odpowiedni termin. Jeśli masz wątpliwości, nasi konsultanci wyjaśnią wszystkie problematyczne kwestie.
      </p>
    </div>
  </div>
  <div class="article__section">
    <div class="article__info">
      <h2 class="article__subheading">
        Jak zapobiegać powstawaniu srebrnych opiłków w oleju?
      </h2>
      <p>
        Samo usunięcie niepożądanych cząsteczek z oleju jest rozwiązaniem skutecznym, jednak może okazać się niewystarczające. Jeśli maszyna będzie pracowała w podobny sposób, stale będzie dochodziło do tarcia i srebrne opiłki w oleju pojawią się kolejny raz. Dlatego konieczne jest usunięcie przyczyny, żeby jej skutek nie powracał. Tu także można skorzystać z doświadczenia serwisantów z firmy Olbromski. Prowadzimy monitoring stanu czystości olejów, a także prace serwisowe. Jesteśmy w stanie zdiagnozować problem i usunąć go, co będzie generowało wymierne korzyści dla Twojej firmy.
      </p>
    </div>
  </div>
</section>
{% endblock body %}
