{% extends 'base.html' %}
{% load static %} 

{% block title %}Złote opiłki w oleju - FHU Olbromski{% endblock title %} 

{% block body %} 
{% include 'hero.html' with header="Złote opiłki w oleju" %}
<section id="filtracja-oleju" class="article flex container">
  <div class="article__section">
    <div class="article__info">
      <h2 class="article__subheading">
        Złote opiłki w oleju – diagnoza
      </h2>
      <p>
        Wymiana płynów smarujących i filtrów czasem może być przyczyną zaniepokojenia serwisanta. Możesz tego doświadczyć, jeśli zauważysz złote opiłki w oleju podczas jego wymiany. Drobinki w tym kolorze będą dobrze widoczne na powierzchni filtrów. W jaki sposób drobinki dostają się do zamkniętego układu smarowania?
      </p>
      <p>
        Przyczyna pojawiania się tych elementów w oleju może zwiastować problemy z innymi podzespołami w silniku. Złote opiłki w oleju mogą pochodzić z wytartej tarczy sprzęgła. Czasem przyczyną jest uszkodzenie panewek układu korbowodowego, ale to nie wyczerpuje przyczyn takiego zabrudzenia. Jeśli chcesz dowiedzieć się, skąd wzięły się złote opiłki w oleju, konieczne będzie rozebranie silnika.
      </p>
    </div>
  </div>
  <div class="article__section">
    <div class="article__info">
      <h2 class="article__subheading">
        Jak usunąć złote opiłki z oleju?
      </h2>
      <p>
        Pamiętaj, że tylko diagnoza pozwoli usunąć problem na stałe, a nie tylko doraźnie. Jednak nie zmienia to faktu, że złote opiłki w oleju są niepożądanym gościem i należy je usunąć. W niewielkich ilościach nie są zagrożeniem, ale na dłuższą metę mogą zrobić spustoszenie w układzie smarowania.
      </p>
      <p>
        Absolutnym minimum będzie wymiana filtra i całego płynu smarującego. W ten sposób usuniesz większość drobinek, jednak nie wszystkie. W ofercie firmy Olbromski znajduje się również usługa filtracji płynów smarujących. Z pomocą systemu filtrów bocznikowych od KLEENOIL jesteśmy w stanie usunąć wszystkie złote opiłki z oleju. System filtruje część przepływającego oleju podczas pracy maszyny. Utrzymanie w stałym ruchu oleju sprawi, że w załamaniach i trudno dostępnych miejscach nie pozostaną metaliczne drobinki.
      </p>
      <p>
        Poza doraźnym usunięciem zanieczyszczeń możemy zająć się również monitorowaniem zużycia oleju w Twoich maszynach. Dzięki temu będziesz znał stan oleju, co ułatwi podjęcie decyzji o wymianie płynu. Filtrowanie i monitorowanie jakości oleju wpłynie też na wydłużenie czasu pomiędzy koniecznymi wymianami płynów.
      </p>
    </div>
  </div>
</section>
{% endblock body %}
